{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero d-flex align-items-center text-center text-grey">
    <div class="container">
        <h1 class="display-2 fw-bold mb-4">
            Find reviews for courses at UW-Milwaukee and generate an overall course load for a schedule.
        </h1>

        <p class="lead mb-4">
            This website is a capstone project created by Pachi, Connor, Noah, David, and Callahan.
        </p>

        <div class="d-flex justify-content-center gap-3">

            <a href="#" class="btn btn-outline-dark btn-lg">Learn More</a>
        </div>
        <i class="bi bi-arrow-down"></i>
    </div>
</section>

<div class="flex-container">
    <div class="container text-center pt-3">
        <div class="container">
            <h1 class="text-start">Recent Reviews</h1>

            {% for review in recent_reviews %}
                <div class="card mb-4 text-start">
                    <div class="card-header">
                        {{ review.review_course.course_code }} - {{ review.review_course.course_name }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ review.review_text }}</p>
                            <footer class="blockquote-footer">
                                {{ review.review_user.username }} talking about <cite title="Professor">{{ review.review_professor.professor_name }}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            {% empty %}
                <p class="text-start">No reviews yet.</p>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}