{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero d-flex align-items-center text-center text-grey">
    <div class="container">
        <h1 class="display-2 fw-bold mb-4">
            Find reviews for courses at UW-Milwaukee
        </h1>

        <p class="lead mb-4">
            This website is a capstone project created by Pachi, Connor, Noah, David, and Callahan.
        </p>

        <div class="d-flex justify-content-center gap-3">

            <a href="#" class="btn btn-outline-dark btn-lg">Learn More</a>
        </div>
        <i class="bi bi-arrow-down"></i>
    </div>
</section>

<div class="flex-container">
    <div class="container text-center pt-3">
    <h1></h1>
        <div class="container">

             <h1 class="text-start">Recent Reviews</h1>
            <div class="card mb-4">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
            <div class="card mb-4">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
        </div>
</div>
</div>

{% endblock %}